<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='slr_camera.png') }}">

    <title>PhotoWalk: Get There Prettier</title>
      
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">  
    <!-- Leaflet JavaScript -->
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Bootstrap Javascript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- Google Maps Api -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='photowalk.css') }}">   
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PhotoWalk</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <br>

    <div class = "container">
        <form  name="input" action="/output" method="GET">
            <div class="form-group">
                <label for="searchTextFieldStart">Start:</label>
                <input type="text" size="50" id="searchTextFieldStart" name='start' value="{{ start_val }}">
            </div>       
            <div class="form-group">
                <label for="searchTextFieldEnd">End:</label>
                <input type="text" size="50" id="searchTextFieldEnd" name='end' value="{{ end_val }}">
            </div>

    
        <table>
        <td><button type="submit" class="btn btn-default btn-lg">Go PhotoWalk!</button></td>
        <td>
        <h5>How much time do you have?</font>
        <select class='routespeed' id="routetype" name="routetype">
          <option {{ fast }} value="Fast">not much</option>
          <option {{ medium }} value="Medium">Some</option>
          <option {{ slow }} value="Slow">LOTS!</option>
        </select>
        </td>
        <div class="legend">
        <td><font color="red" size="4">Your PhotoWalk is {{ pdistance }} mi. Enjoy! </font><font color="black" size="2">(direct path {{ sdistance }} mi)</font></td>
        <!--<td><font size="4">(direct path: {{ sdistance }} mi)</font></td>-->
        </div>
        </table>
            
        </form>
    </div>
    
   <div class = "container">
   <div id="map"></div>
   </div>
   
   <script>
        function initialize() {
            var inputstart = document.getElementById('searchTextFieldStart');
            var inputdest = document.getElementById('searchTextFieldEnd');
            var options = {componentRestrictions: {country: 'us'}};
                 
            new google.maps.places.Autocomplete(inputstart, options);
            new google.maps.places.Autocomplete(inputdest, options);
        }         
        google.maps.event.addDomListener(window, 'load', initialize);
   
        var start_js = '{{start_name}}'
        var startlat_js = '{{startlat}}'
        var startlng_js = '{{startlon}}'    
        var end_js = '{{end_name}}'
        var endlat_js = '{{endlat}}'
        var endlng_js = '{{endlon}}'
        var plinepath_js = {{plinepath}}
        /*var slinepath_js = {{slinepath}}*/     
        var ppolyline_options = {color: 'red'};
        var spolyline_options = {color: 'black'};

        var map = L.map('map').setView([{{ center_coords }}],{{ zoom }});
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            minZoom: 13,
            maxZoom: 16,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoibWtyZW1zIiwiYSI6ImNpam0xemh3bjAwOWR0b201dTlvb3VoZ2cifQ.vWVJ363l6yWIbRxtM-H31Q'
        }).addTo(map);
        
        var startIcon = L.icon({
            iconUrl: "{{ url_for('static', filename='start.png') }}",
            iconSize:     [60, 60], // size of the icon
            iconAnchor:   [30, 58], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -50] // point from which the popup should open relative to the iconAnchor
        });
        
        var endIcon = L.icon({
            iconUrl: "{{ url_for('static', filename='end.png') }}",
            iconSize:     [60, 60], // size of the icon
            iconAnchor:   [30, 58], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -50] // point from which the popup should open relative to the iconAnchor
        });

        L.marker([startlat_js,startlng_js], {icon: startIcon}).addTo(map)
            .bindPopup(start_js);

        L.marker([endlat_js,endlng_js], {icon: endIcon}).addTo(map)
            .bindPopup(end_js);
            
        {% for image,point in image_points %}
            L.marker([{{ point }}]).addTo(map)
            .bindPopup("<img src={{ image }}>");
        {% endfor %}
            
        L.polyline(plinepath_js,ppolyline_options).addTo(map);
        /*L.polyline(slinepath_js,spolyline_options).addTo(map);*/

        var popup = L.popup();
        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
        }
        map.on('click', onMapClick);

    </script>    
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>

